# Compiled
*.class
*.jar
*.war
*.ear

# Build output
out/
build/
target/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Maven
*.log

# OS
.DS_Store
Thumbs.db
fiicoder-frontend/graphify-out/cache/ast/1063a264e61b1b91d1cabfbdac1626761d48f11184da4d4acd0df9f80241f95d.json
fiicoder-frontend/graphify-out/cache/ast/29ee32adbb18b6b2e96539f626b7cf4f5e925f482dcfdac8ceca1570d5cb3bc6.json
fiicoder-frontend/graphify-out/cache/ast/6a434af75cbadfeb37715a47b963f79ba49f5757f404421e7af19bd5ef9d4cf1.json
fiicoder-frontend/graphify-out/cache/ast/a249d3747a1f69412c214e08809d6e21c0f26a33f83121330dd07b6694d1f8a0.json
fiicoder-frontend/graphify-out/cache/stat-index.json
